* {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  font-size: 24px;
}

.answer {
  color: red;
}

.correct {
  color: green;
}

// button {
//   font-size: 32px;
//   color: #e00;
// }

h1 {
  font-size: 32px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

mat-card {
  margin: auto;
  width: 60rem;
}
